   // .env
PORT=3000
MONGODB_USER=miregal619
MONGODB_PASSWORD=KVTpRzjJ1UFpzbEn
MONGODB_URL=cluster0.1pspu.mongodb.net

MONGODB_DB=contacts
JWT_SECRET=secret_key
JWT_REFRESH_SECRET=refresh_secret_key

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=82ece2001@smtp-brevo.com

APP_DOMAIN=http://localhost:3000/auth
SMTP_FROM=waffenerd@gmail.com

CLOUDINARY_CLOUD_NAME=dy4rlzoy7
CLOUDINARY_API_KEY=465721779547522
CLOUDINARY_API_SECRET=7cYq-lcOewdYlXHRFpVs8pkb8OA
